[submodule "my-online-store"]
	path = my-online-store
	url = https://github.com/Ali-Khateb-1/my-online-store.git
[submodule "STEAM_Nexus_Switchers_Lab"]
	path = STEAM_Nexus_Switchers_Lab
	url = https://github.com/Ali-Khateb-1/STEAM_Nexus_Switchers_Lab
